<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxq.shopinterface.mapper.SpuAttrMapper">

    <resultMap id="baseMap" type="com.wxq.bean.SpuAttr">
        <id column="id" property="id"/>
        <result column="spu_code" property="spuCode"/>
        <result column="attr_id" property="attrId"/>
        <collection property="attrValueList" column="attr_id" javaType="com.wxq.bean.AttrValue"
                    select="com.wxq.shopinterface.mapper.AttrValueMapper.findList"/>
    </resultMap>

  <delete id="deleteBatch" parameterType="string">
    delete from spu_attr where spu_code=#{id}
  </delete>

  <select id="findList" parameterType="string" resultMap="baseMap">
    select id,spu_code,attr_id from spu_attr where spu_code=#{id}
  </select>

  <select id="count" resultType="int">
    select count(id) from spu_attr where spu_code=#{spuCode}
  </select>
</mapper>
