<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxq.shopinterface.mapper.TownMapper">

    <resultMap id="baseMap" type="com.wxq.bean.Town">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="county_id" property="countyId"/>
    </resultMap>

    <select id="findList" parameterType="int" resultMap="baseMap">
        select id,name,county_id from town where county_id=#{id}
    </select>
</mapper>
